@import '../../scss/constants.scss';
.login {
  background: #fff;

  .MuiContainer-root {
    padding: 0;

    @media screen and(min-width: 1024px) {
      display: flex;
    }
  }

  .forget-password {
    margin-top: -8px;
    margin-bottom: 32px;
  }

  .create-acc-label {
    .highlight {
      color: #000325;
    }
  }

  main {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and(min-width: 1024px) {
      width: 50%;
    }
  }

  .login-bg {
    height: 100%;
    min-height: 100vh;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(205.57deg, #357cd6 -38%, #07f1c7 83.62%);
    display: none;

    svg {
      width: 100%;
      height: auto;
    }

    @media screen and(min-width: 1024px) {
      display: flex;
      width: 50%;
    }
  }

  .form-content {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 100px;
    padding: 100px 0 50px;

    .login-title {
      margin-bottom: 56px;
    }

    .login-form-title {
      font-size: 3.4rem;
      margin-bottom: 24px;
      line-height: 120%;
    }
  }
}
