$primary: #00e4cc;
$secondary: #0a69f7;
$dark: #000325;
$light: #f9f6f6;

$gradientstart: #07f1c7;
$gradientend: #357cd6;

$white: #ffffff;

$green1: #00c7b2;
$green2: #00b8a4;

$gray1: #616060;
$gray2: #e3e4e5;
$gray3: #f4f5f7;
$gray4: #616060;

$background: #ffffff;
$darkBackground: #333551;

$warning: #ff9d43;
$error: #ff2727;
$success: #49c06a;
$info: #0a69f7;

$darkBlue: #000433;
