// colors
$dark: #000325;
$blue1: #83bfeb;
$green2: #00c8b3;
$orange: #ff9d43;
$grey-bg: #f4f5f7;
$grey1: #6c6c6c;
$grey2: #e8e8e8;
$grey3: #e5e5e5;
$grey4: #616060;
$grey5: #a3a3a3;
$grey6: #282828;
$grey7: #505050;
$grey8: #c8c8c8;
$blue1: #83bfeb;
$blue2: #e0effa;
$blue3: #5192c1;
$green1: #49c06a;
$orange: #ff9d43;
$black1: rgba(0, 0, 0, 0.6);
$black2: rgba(0, 0, 0, 0.87);
$red: #ff2727;
$red2: #f64b4b;
$red3: rgba(247, 75, 75, 0.25);
$gradient1: linear-gradient(271.93deg, #00c8b3 0%, #83bfeb 107.45%);
